<% if user_signed_in? %>
    <% if current_user.admin? %>
      <li class="<%= is_active?(allergies_path)%>">
        <%= link_to( t('header.allergies'), allergies_path) %>
      </li>
    <%end %>
<% end %>
